<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MySuite">
    <test name="LoginTest">
        <classes>
            <class name="tests.LoginTest" />
        </classes>
    </test>
    <test name="DeletePostTest">
        <classes>
            <class name="tests.DeletePostTest" />
        </classes>
    </test>
    <test name="FollowUnfollowTest">
        <classes>
            <class name="tests.FollowUnfollowTest" />
        </classes>
    </test>
    <test name="LikeDislikePostTest">
        <classes>
            <class name="tests.LikeDislikePostTest" />
        </classes>
    </test>
    <test name="UploadPhotoTest">
        <classes>
            <class name="tests.UploadPhotoTest" />
        </classes>
    </test>
</suite>